html {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: tahoma;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

a:link {
  color: #00ee80;
}

a:visited {
  color: #009700;
}

a:hover {
  color: #00e5ee;
}
