html {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: tahoma;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

a:link {
  color: #00ee80;
}

a:visited {
  color: #009700;
}

a:hover {
  color: #00e5ee;
}

label {
  display: block;
}

input {
  border: 1px solid #000000;
  padding: 0.5em;
  margin: 0.5em 0;
}

input[type="button"], input[type="submit"] {
  display: block;
  background-color: #00ee80;
  color: black;
  font-weight: bold;
  margin-top: 1em;
  padding: 1em;
}
